*{
    background-color: rgb(223, 235, 235);
}
h1{
    position: absolute;
    top: 30px;
    left: 690px;
    font-size: 30px;
    color: rgba(0, 174, 255, 0.952);
}
h2{
    position: absolute;
    top: 60px;
    left: 690px;
    font-size: 25px;
    border: 3px solid rgb(0, 153, 255);
    color: rgb(32, 32, 25);
}